<!DOCTYPE html>
<html>
<head>
	<title>FlipKart</title>
	<link rel="stylesheet" type="text/css" href="./static/homePage.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form action="/admin" method="POST">
					<label for="chk" aria-hidden="true">FlipKart Scrapper</label>
					
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="pswd" placeholder="Password" required="">
					<button>Log in</button>
					<span class="alert">{{output}}</span>
				</form>
			</div>
	</div>
</body>
</html>